<h1>Add Post</h1>
<%= form_for :post, url: posts_path do |frm| %>
    <p>
        <%= frm.label :title %><br>
        <%= frm.text_field(:title, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= frm.label :body %><br>
        <%= frm.text_area(:body, {:class => 'form_control'})%>
    </p>
    <p>
        <%= frm.submit({:class => 'btn btn-primary'}) %>
    </p>
<% end %>